.list-item-container {
  line-height: 1;
  font-size: 14px;
  padding: 15px 0px 15px 15px;
}
.list-item-left {
  width: 60px;
  margin-right: -60px;
  float: left;
}
.list-item-right {
  width: 100%;
  float: right;
}
.list-item-content {
  margin-left: 50px;
  margin-right: 30px;
}
.avator {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}
.desc {
  line-height: 16px;
}
.lucent {
  opacity: 0.4;
}
.list__item--chevron:before {
  content: None;
}
.to-right-pic {
  width: 60px;
  padding-right: 49px;
  float: right;
}
.to-right-text {
  width: 85%;
  text-align: right;
}
.to-right-text .list-item-content {
  margin-right: 20px;
}
.tab {
  line-height: 1;
}
.tab-icon {
  font-size: 22px;
  padding: 0;
  margin: 0;
}
.tab-label {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.person-list {
  border-top: none;
}
.person {
  line-height: 1;
}
.person-list-header {
  opacity: 0.6;
}
.person-name {
  line-height: 44px;
}
.person-image {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  border-radius: 2px;
}

.login_page{
  background: url('../img/home.jpg');
  height: 100vh;
  text-align: center;
  padding-top: 21px;
}


.logo_container{
  margin: auto;
    width: 305px;
    padding: 7px;
    background-color: #f26241;
    text-align: center;
    border-radius: 20px;
    padding-top: 30px;
    color: white;
}

.logo{
  width: 163px;

}
.btn-fb{
  width: 253px;
  margin-top: 20px;

}
.login_footer{
  margin-top: 50px;
  color: white;
  width: 300px;
}
