<!doctype html>
<html ng-app="app138">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/static/assets/lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="/static/assets/lib/onsen-css-components/onsen-css-components.min.css">
  <link rel="stylesheet" href="/static/assets/css/chat.css">
  <link href="/static/assets/css/style.css" rel="stylesheet" />


  <script src="/static/assets/lib/onsen/js/angular/angular.js"></script>
  <script src="/static/assets/lib/onsen/js/onsenui.js"></script>
  <script src="/static/assets/js/jquery-1.11.1.js"></script>
  <script src="/static/assets/js/jquery.timeago.js"></script>
  <script src="/static/assets/js/jquery.timeago.pt-br.js"></script>
  <script src="/static/assets/js/api/api-138.js"></script>
  <script src="/static/assets/js/config.js"></script>
  <script src="/static/assets/js/app.js"></script>



</head>

<body ng-controller="chat" ng-init="init()">


  <!--------- base -------->
  <ons-template id="landing.html">
    <ons-sliding-menu swipeable="true" var="app.slidingMenu" menu-page="people.html" main-page="page.html" side="right" type="overlay" max-slide-distance="300px">
    </ons-sliding-menu>
  </ons-template>

  <ons-tabbar hide-tabs="hgoe" class="chat-header">
    <ons-tab page="landing.html" active="true">
      <form name="frmMessage" ng-submit="sendMessage(field)">
        <ons-icon icon="" class="ons-icon ons-icon--ion">&nbsp;&nbsp;»</ons-icon>
        <input type="text" ng-model="field" name="field" id="fieldMessage" maxlength=140 class="text-input text-input--transparent" placeholder="" style="width: 100%; vertical-align: middle;">
      </form>
    </ons-tab>
  </ons-tabbar>
  <!--------- base -------->


  <!--------- people -------->
  <ons-template id="people.html">
    <ons-toolbar>
      <div class="center chat-header"></div>
    </ons-toolbar>


    <ons-list class="person-list">
      <ons-list-item class="person" modifier="" ng-repeat="person in people">
        <ons-row ng-click="sendTo(person.name); app.slidingMenu.toggleMenu()">
          <ons-col width="40px">
            <img src="{{ person.avatar }}" class="person-image">
          </ons-col>
          <ons-col class="person-name">
            {{ person.name }}
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>


  </ons-template>

  <!--------- people -------->






  <!--------- chat -------->

  <ons-template id="page.html">
    <ons-toolbar class="chat-header">
      <div class="left logo">
        <img src="/static/assets/img/logo.png">
        <h1>138</h1>
      </div>
      <div class="right">
        <ons-icon icon="fa-power-off" size="20px" fixed-width="false" class="btn-exit" ng-click="logout()"></ons-icon>
      </div>
    </ons-toolbar>

    <ons-list>
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="message in messages">
        <div ng-attr-class="{{ message.from != currentUser ? 'list-item-left' : 'list-item-left to-right-pic' }}">
          <img src="{{ message.avatar }}" class="avator">
        </div>
        <div ng-attr-class="{{ message.from != currentUser ? 'list-item-right' : 'list-item-right  to-right-text' }}">
          <div class="list-item-content">
            <div class="name">
              <span class="lucent">@{{ message.from }}</span>
              <span class="desc timeago">{{ message.timeAgo }}</span>
            </div>
            <span class="desc">{{ message.msg }}</span>
          </div>
        </div>
      </ons-list-item>
    </ons-list>
  </ons-template>

  <!--------- chat -------->



  <!--------- login --------

  <ons-template id="login.html">




    <div class="login_page">

      <div class="logo_container">
        <img src="img/logo.png" class="logo">
        <br />
        <img src="img/facebook_login_button.png" class="btn-fb" ng-click="login()">
        <p>O 138 traz o conceito de zueira de chat para o mundo mobile de uma forma inovadora. Participe de salas com pessoas próximas a você.</p>
      </div>


    </div>

  </ons-template>

  --------- login -------->



</body>

</html>
